@using Antlr.Runtime
@model IEnumerable<AccessoriesWebShop.Models.Ad>

@{
    ViewBag.Title = "Index";
}
@if (ViewBag.searched == "")
{
    <h2 class="mt-3">Showing results for <strong>@ViewBag.categoryName</strong> category</h2>
}
else
{
    <h2 class="mt-3">Resuls for searching <strong>@ViewBag.searched</strong></h2>
}

@if (ViewBag.isAdmin != null)
{
    <p>
        @Html.ActionLink("Create New", "AdsCreate")
    </p>

    using (Html.BeginForm("Filter", "Admin", FormMethod.Post, new { enctype = "multipart/form-data", @class = "input-group mt-5 mb-5 d-flex" }))
    {
        @Html.DropDownList("Filter", new List<SelectListItem>
        {
            new SelectListItem {Text = "price (low - high)", Value = "priceAsc" + " " + @ViewBag.searched + " " + @ViewBag.categoryID},
            new SelectListItem {Text = "price (high - low)", Value = "priceDesc" + " " + @ViewBag.searched + " " + @ViewBag.categoryID},
            new SelectListItem {Text = "rating", Value = "rating" + " " + @ViewBag.searched + " " + @ViewBag.categoryID},
            new SelectListItem {Text = "discount", Value = "discount" + " " + @ViewBag.searched + " " + @ViewBag.categoryID}
        }, "Sort by", new { @class = "form-control ml-auto" })
        <input type="submit" class="btn btn-primary" value="Sort" />
    }
}
else
{
    using (Html.BeginForm("Filter", "Ads", FormMethod.Post, new { enctype = "multipart/form-data", @class = "input-group mt-5 mb-5 d-flex" }))
    {
        @Html.DropDownList("Filter", new List<SelectListItem>
        {
            new SelectListItem {Text = "price (low - high)", Value = "priceAsc" + " " + @ViewBag.searched + " " + @ViewBag.categoryID},
            new SelectListItem {Text = "price (high - low)", Value = "priceDesc" + " " + @ViewBag.searched + " " + @ViewBag.categoryID},
            new SelectListItem {Text = "rating", Value = "rating" + " " + @ViewBag.searched + " " + @ViewBag.categoryID},
            new SelectListItem {Text = "discount", Value = "discount" + " " + @ViewBag.searched + " " + @ViewBag.categoryID}
        }, "Sort by", new { @class = "form-control ml-auto" })
        <input type="submit" class="btn btn-primary" value="Sort" />
    }
}

@if (User.IsInRole("Customer"))
{
    <div class="container" style="display: flex; justify-content: flex-end">
        <p>
            <a onclick="location.href = '@Url.Action("BasketsPerPerson", "Baskets")'" class="btn btn-default btn-lg" style="padding-top: 15px">
                <span class="fa fa-shopping-cart"></span>
                <span style="font-size: 12px; position: absolute; margin-top: -12px; margin-left: -16px; color: red; font-weight: bolder;">
                    <span id="itemsNum">
                        @ViewBag.ItemsInBasket
                    </span>
                </span>
                Shopping Cart
            </a>
        </p>
    </div>
}

<div class="card-rows">
    @foreach (var item in Model)
    {
        var price = "";


        if (item.discount != null)
        {
            price = (double)item.price - (double)item.price * (double)item.discount + " from " + (double)item.price;
        }
        else
        {
            price = ((double)item.price).ToString();
        }
        <div class="card border-primary mb-3">
            <div class="card-body">
                <h5 class="card-title">@item.name</h5>
                <h6 class="card-subtitle mb-2 text-muted">@price</h6>
                <p class="card-text">@item.description</p>
                <p class="card-text">Available - @item.quantity</p>
                <p class="card-text">Rated @item.rating (0-5)</p>
                @if (ViewBag.isAdmin != null)
                {
                    <a onclick="location.href = '@Url.Action("AdsEdit", new { id = item.name })'" class="btn btn-primary">Edit</a>
                    <a onclick="location.href = '@Url.Action("AdsDelete", new { id = item.name })'" class="btn btn-primary">Delete</a>
                }
                else
                {
                    <button class="addToBasketBtn btn btn-primary">Add "@item.name" to the basket</button>
                }
            </div>
        </div>
    }
    <div id="addConfirm" class="modal fade" data-backdrop="static" tabindex="-1" role="dialog">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-body">
                    <h4>How much do you want to add</h4>
                    <input type="number" name="quantity" />
                    <button class="confirmAddToBasketBtn btn btn-primary">Add</button>
                    <button class="cancelAddToBasketBtn btn btn-primary">Cancel</button>
                </div>
            </div>
        </div>
    </div>
</div>

<script>
    $(document).ready(function () {
        var adName = "";
        $('.addToBasketBtn').on('click',
            function (e) {
                adName = $(this)[0].innerHTML.substring(
                    $(this)[0].innerHTML.indexOf('"') + 1,
                    $(this)[0].innerHTML.lastIndexOf('"')
                );;
                e.preventDefault();
                $('#addConfirm').modal('show');
            });

        $('.confirmAddToBasketBtn').on('click',
            function (e) {
                var quantity = $("input[name = quantity]").val();
                console.log("clicked", quantity);
                $.ajax({
                    url: "/Ads/AddToBasket",
                    type: "POST",
                    dateType: "json",
                    data: { adName: adName, quantity: quantity },
                    success: function (data) {
                        $('#itemsNum')[0].innerText = parseInt($('#itemsNum')[0].innerText, 10) + data;
                        $('#addConfirm').modal('hide');
                        $('input[name = quantity]').val('');
                        alert("Successfully added");
                    },
                    error: function () {
                        alert("Log in in order to add to your basket");
                    }
                });
            });

        $('.cancelAddToBasketBtn').on('click',
                function (e) {
                    e.preventDefault();
                    $('#addConfirm').modal('hide');
                    $('input[name = quantity]').val('');
                });
    });
    $(document).ajaxError(function (e, xhr) {
        //ajax error event handler that looks for either a 401 (regular authorized) or 403 (AjaxAuthorized custom actionfilter).
        if (xhr.status === 403) {
            var response = $.parseJSON(xhr.responseText);
            window.location = response.LogOnUrl;
        }
    });
</script>